:root {
  --primary-color        : #26354A;
  --secondary-color      : #67b4c0;
  --secondary-color-hover: #a7c7ce;
  font-size              : 16px;
  font-weight            : 400;
}

* {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}
